extends ../layouts/layout

block content
  h1= title

  form(method="get" action="/secretaria/consultar-agendas")
    .filters
      label(for="id_medico") Médico:
      select(name="id_medico")
        option(value="") Todos los médicos
        each medico in medicos
          option(
            value=medico.id 
            selected=(medico.id == selectedMedico ? 'selected' : false)
          ) #{medico.nombre} #{medico.apellido}

      label(for="id_especialidad") Especialidad:
      select(name="id_especialidad")
        option(value="") Todas las especialidades
        each especialidad in especialidades
          option(
            value=especialidad.id 
            selected=(especialidad.id == selectedEspecialidad ? 'selected' : false)
          ) #{especialidad.nombre}
      
      label(for="fecha") Fecha:
      input(type="date" name="fecha" value=selectedFecha)
    
    button(type="submit") Buscar

  if agendas && agendas.length
    table
      thead
        tr
          th Fecha
          th Médico
          th Especialidad
          th Hora Inicio
          th Hora Fin
      tbody
        each agenda in agendas
          tr
            td= agenda.fecha
            td= agenda.nombre_medico + ' ' + agenda.apellido_medico
            td= agenda.especialidad
            td= agenda.hora_inicio
            td= agenda.hora_fin
  else